.nav-header {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home-page-website-logo {
  margin: 20px;
  width: 100px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
}
.nav-link {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  text-decoration: none;
  margin: 15px;
}
.header-logout-container {
  display: flex;
  align-self: flex-end;
}
.logout-button {
  height: 25px;
  background-color: #4f46e5;
  border: 0px solid;
  border-radius: 5px;
  color: #f8fafc;
}
.header-icons-small {
  display: none;
}
@media screen and (max-width: 576px) {
  .home-icon {
    color: #ffffff;
    font-size: 20px;
  }
  .header-icons-small {
    list-style-type: none;
    display: flex;
  }
  .briefcase-icon {
    font-size: 20px;
  }
  .logout-icon {
    background-color: transparent;
    border: 0 solid;
  }
  .briefcase-icon {
    color: #ffffff;
    font-size: 20px;
  }
  .logout-button {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .Home-page-website-logo {
    width: 80px;
  }
  .nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
