.nav-header {
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home-page-website-logo {
  margin: 20px;
  width: 100px;
}
.nav-menu {
  list-style-type: none;
  display: flex;
}
.nav-link {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  text-decoration: none;
  margin: 15px;
}
.logout-button {
  height: 25px;
  background-color: #4f46e5;
  border: 0px solid;
  border-radius: 5px;
  color: #f8fafc;
}
